Repository jbrusegaard/GraphStructManager: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-fmt, golangci-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  -   repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v3.2.0
      hooks:
        -   id: trailing-whitespace
        -   id: end-of-file-fixer
        -   id: check-yaml
        -   id: check-added-large-files

  - repo: local
    hooks:
      - id: go-mod-tidy
        name: Go Mod Tidy
        entry: |
            go mod tidy

        language: system
        files: ^go\.mod$
        pass_filenames: false

      - id: go-fmt
        name: Go Fmt
        entry: gofmt -w
        language: golang
        files: \.go$

      - id: golangci-lint
        name: golangci-lint
        entry: golangci-lint run --fix --allow-parallel-runners
        language: golang
        files: \.go$
        pass_filenames: false

update readme to handle new order by signature
  README.md
Due: none

rename var
  gremlin/driver/utils.go
Due: go-fmt, golangci-lint

add tests with coverage
  gremlin/driver/driver_test.go
  gremlin/driver/query.go
  gremlin/driver/utils.go
  gremlin/driver/utils_test.go
  log/log_test.go
  makefile
  types/types_test.go
Due: go-fmt, golangci-lint

add more tests
  gremlin/driver/create.go
  gremlin/driver/utils.go
  gremlin/driver/utils_test.go
Due: go-fmt, golangci-lint

add tests
  gremlin/driver/create.go
  gremlin/driver/query_test.go
  gremlin/driver/raw_query.go
  gremlin/driver/utils.go
  gremlin/driver/utils_test.go
  types/types.go
Due: go-fmt, golangci-lint

add more tests
  gremlin/driver/query_test.go
Due: go-fmt, golangci-lint

add Update function and refactor lastModified to be time types
  gremlin/driver/create.go
  gremlin/driver/query.go
  gremlin/driver/query_test.go
  gremlin/driver/raw_query.go
  gremlin/driver/utils.go
  gremlin/driver/utils_test.go
  types/types.go
  types/types_test.go
Due: go-fmt, golangci-lint

remove sleep from test
  gremlin/driver/query_test.go
Due: go-fmt, golangci-lint

refactor first to take
  cmd/app.go
  gremlin/driver/query.go
  gremlin/driver/query_test.go
Due: go-fmt, golangci-lint

refactor table to label
  gremlin/driver/driver.go
  gremlin/driver/driver_test.go
Due: go-fmt, golangci-lint

add update function
  gremlin/driver/create.go
  gremlin/driver/driver.go
  gremlin/driver/query_test.go
  gremlin/driver/utils.go
Due: go-fmt, golangci-lint

add more tests
  gremlin/driver/driver.go
  gremlin/driver/query_test.go
Due: go-fmt, golangci-lint

update module name
  README.md
  cmd/app.go
  go.mod
  gremlin/driver/driver.go
  gremlin/driver/driver_test.go
  gremlin/driver/query.go
  gremlin/driver/query_test.go
  gremlin/driver/utils.go
  gremlin/driver/utils_test.go
Due: go-mod-tidy, go-fmt, golangci-lint

fix vertex label issue
  README.md
  go.mod
  go.sum
  gremlin/driver/create.go
  gremlin/driver/driver_test.go
  gremlin/driver/query.go
  gremlin/driver/utils.go
  gremlin/driver/utils_test.go
Due: go-mod-tidy, go-fmt, golangci-lint

add more linters
  .golangci.yml
Due: none

update linter and fix issues
  .golangci.yml
  cmd/app.go
  gremlin/driver/create.go
  gremlin/driver/driver.go
  gremlin/driver/driver_test.go
  gremlin/driver/query.go
  gremlin/driver/query_test.go
  gremlin/driver/raw_query.go
  gremlin/driver/utils.go
  gremlin/driver/utils_test.go
  gsmtypes/types.go
  gsmtypes/types_test.go
  makefile
Due: go-fmt, golangci-lint

add query debugger
  gremlin/driver/create.go
  gremlin/driver/query.go
  gremlin/driver/utils_test.go
  gsmtypes/types.go
  log/log.go
Due: go-fmt, golangci-lint

update readme
  README.md
Due: none

add driver to handle cardinality of list vs set
  gremlin/driver/driver.go
  gremlin/driver/driver_test.go
  gremlin/driver/query.go
  gremlin/driver/query_test.go
Due: go-fmt, golangci-lint

add ability to override label
  gremlin/driver/query.go
  gremlin/driver/utils.go
  gremlin/driver/utils_test.go
  gsmtypes/types.go
Due: go-fmt, golangci-lint

add readme about custom labels
  README.md
Due: none

reduce label complexity
  gremlin/driver/query.go
  gremlin/driver/utils.go
  gremlin/driver/utils_test.go
Due: go-fmt, golangci-lint

optimize debug string writer
  gremlin/driver/query.go
Due: go-fmt, golangci-lint

Update README.md
  README.md
Due: none

add IDs method and export methods
  .golangci.yml
  gremlin/driver/query.go
  gremlin/driver/query_test.go
  gremlin/driver/utils.go
  gremlin/driver/utils_test.go
Due: go-fmt, golangci-lint

refactor interfaces for better code reusability
  gremlin/driver/create.go
  gremlin/driver/driver.go
  gremlin/driver/query.go
  gremlin/driver/utils.go
  gsmtypes/interfaces.go
Due: go-fmt, golangci-lint

this is still broken
  gremlin/driver/create.go
  gremlin/driver/query.go
  gremlin/driver/query_test.go
Due: go-fmt, golangci-lint

added subtraversals
  gremlin/driver/query.go
  gremlin/driver/query_test.go
Due: go-fmt, golangci-lint

add subtrav step
  gremlin/driver/query.go
Due: go-fmt, golangci-lint

fix bug when there are no traversals
  gremlin/driver/query.go
  gremlin/driver/query_test.go
Due: go-fmt, golangci-lint

update readme and use alias for anonymousTraversal
  README.md
  gremlin/driver/query.go
Due: go-fmt, golangci-lint

add subtraversals step
  gremlin/driver/query.go
Due: go-fmt, golangci-lint

get subtraversals working
  .golangci.yml
  README.md
  gremlin/driver/query.go
  gremlin/driver/query_test.go
  gremlin/driver/utils.go
  gremlin/driver/utils_test.go
  gsmtypes/constants.go
Due: go-fmt, golangci-lint

optimize UnloadGremlinResultIntoStruct
  gremlin/driver/utils.go
Due: go-fmt, golangci-lint

handle edge case
  gremlin/driver/utils.go
  gremlin/driver/utils_test.go
Due: go-fmt, golangci-lint
