Repository jbrusegaard/GraphStructManager: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-fmt, golangci-lint

go-mod-tidy:
  name: Go Mod Tidy
  entry: 'go mod tidy
  
    '
  language: system
  pass_filenames: false

go-fmt:
  name: Go Fmt
  entry: gofmt -w
  language: golang

golangci-lint:
  name: golangci-lint
  entry: golangci-lint run --fix --allow-parallel-runners
  language: golang
  pass_filenames: false

add logger
  .golangci.yml
  cmd/app.go
  go.mod
  go.sum
  log/log.go
Due: go-mod-tidy, go-fmt, golangci-lint

start on orm logic
  cmd/app.go
  cmd/gremlin_test.go
  driver/all.go
  driver/create.go
  driver/driver.go
  driver/open.go
  types/types.go
Due: go-fmt, golangci-lint

got first function working
  cmd/app.go
  driver/create.go
  driver/first.go
  types/types.go
Due: go-fmt, golangci-lint

revert to using json tags so that structs can be easily unloaded
  cmd/app.go
  driver/first.go
  types/types.go
Due: go-fmt, golangci-lint

fully remove gremlin tagging
  cmd/app.go
  driver/create.go
  driver/first.go
  gremlin-config/gremlin-server-custom.properties
  types/types.go
Due: go-fmt, golangci-lint

reformat tags
  cmd/app.go
Due: go-fmt, golangci-lint

add back gremlin tags. Will need to add ability to traverse anon structs
  cmd/app.go
  driver/first.go
  types/types.go
Due: go-fmt, golangci-lint

get gremlin tags working on substructs
  driver/first.go
Due: go-fmt, golangci-lint

add ability to pass traversal to first
  .golangci.yml
  .idea/golinter.xml
  .idea/inspectionProfiles/Project_Default.xml
  cmd/app.go
  driver/create.go
  driver/first.go
Due: go-fmt, golangci-lint

.
  .idea/copilot.data.migration.ask.xml
  .idea/copilot.data.migration.ask2agent.xml
Due: none

add find function
  cmd/app.go
  driver/all.go
  driver/find.go
Due: go-fmt, golangci-lint

refactor first to be generics
  cmd/app.go
  driver/first.go
Due: go-fmt, golangci-lint

turn off gofumpt
  .golangci.yml
Due: none

rewrite create in generics
  cmd/app.go
  driver/create.go
Due: go-fmt, golangci-lint

fix code styling
  cmd/app.go
Due: go-fmt, golangci-lint

fix code styling
  .idea/codeStyles/codeStyleConfig.xml
Due: none

add query opts
  cmd/app.go
  driver/driver.go
  driver/find.go
  driver/first.go
Due: go-fmt, golangci-lint

convert to vertex type
  driver/create.go
  driver/find.go
  driver/first.go
  driver/utils.go
  types/types.go
Due: go-fmt, golangci-lint

start testing out method chaining
  cmd/app.go
  driver/driver.go
  driver/query.go
  driver/raw_query.go
Due: go-fmt, golangci-lint

fix delete method and update where to have traversal function
  driver/query.go
Due: go-fmt, golangci-lint

add comparitor type and restructure data
  cmd/app.go
  gremlin/driver/create.go
  gremlin/driver/driver.go
  gremlin/driver/find.go
  gremlin/driver/first.go
  gremlin/driver/query.go
  gremlin/driver/raw_query.go
  gremlin/driver/utils.go
  types/comparitorConstants.go
Due: go-fmt, golangci-lint

add dedup setp
  gremlin/driver/find.go
  gremlin/driver/first.go
  gremlin/driver/query.go
  gremlin/driver/utils.go
Due: go-fmt, golangci-lint

add dedup docs
  gremlin/driver/query.go
Due: go-fmt, golangci-lint

add readme
  README.md
Due: none

restructure and fix typo for comparator
  README.md
  cmd/app.go
  gremlin/driver/driver.go
  gremlin/driver/query.go
  types/comparitorConstants.go
Due: go-fmt, golangci-lint

add without comparator
  README.md
  gremlin/driver/query.go
Due: go-fmt, golangci-lint

add without comparator
  comparator/comparatorConstants.go
Due: go-fmt, golangci-lint

add requirements
  README.md
Due: none

fix order by bug
  gremlin/driver/query.go
Due: go-fmt, golangci-lint

update gremlin config to use uuid
  gremlin-config/gremlin-server.yaml
  gremlin-config/tinkergraph-empty.properties
Due: none

add id step for performance
  README.md
  gremlin/driver/query.go
Due: go-fmt, golangci-lint

move functions into utils
  gremlin/driver/create.go
  gremlin/driver/utils.go
Due: go-fmt, golangci-lint

update linters
  .golangci.yml
  .idea/golinter.xml
Due: none

start adding tests
  log/log_test.go
  types/types_test.go
Due: go-fmt, golangci-lint

add commands for testing
  makefile
Due: none

fix issue with list types
  go.mod
  go.sum
  gremlin/driver/create.go
  gremlin/driver/create_test.go
Due: go-mod-tidy, go-fmt, golangci-lint

delete bad tests
  gremlin/driver/create_test.go
Due: go-fmt, golangci-lint

remove go mod update
  go.mod
  go.sum
Due: go-mod-tidy

fix bug with slices not properly going into gremlin
  cmd/app.go
  gremlin/driver/create.go
Due: go-fmt, golangci-lint

fix bug where element map wasn't handling slices
  gremlin/driver/query.go
  gremlin/driver/utils.go
Due: go-fmt, golangci-lint

Path conditions:
  go-mod-tidy: any of: ^go\.mod$
  go-fmt: any of: \.go$
  golangci-lint: any of: \.go$
